<ion-view view-title="Gestión">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">No. Gesti&oacuten</span>
                <input type="text">
            </label>
        </div>

        <button class="button button-full button-positive">
            Consultar
        </button>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">No. Gesti&oacuten</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Tipo de Reclamo</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Fecha de Reclamo</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Estado de Gesti&oacuten</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Fecha de Resoluci&oacuten</span>
                <input type="text" readonly>
            </label>
        </div>

    </ion-content>
</ion-view>